#comment-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ebee;
  margin-top: 10px;
  border-radius: 25px;
}

#comment-author img {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  border-radius: 15px;
}

#comment-author-pic-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
}

#comment-author a {
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: #365899;
}

#comment-author a:hover {
  text-decoration: underline;
}

#comment-author button {
  display: block;
  border: none;
  background-color: inherit;
  max-width: 20px;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
}

.comment-body {
  display: block;
  overflow: hidden;
  margin-left: 14px;
  margin-top: 3px;
  min-height: 18px;
}

.edit-comment {
  border: .5px solid lightgray;
  position: fixed;
  width: 400px;
  margin-left: -200px;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 52%;
  height: inherit;
  background-color: white;
  border-radius: 3px;
}

#create-comment {
  margin: -10px;
  margin-bottom: -15px;
}

#create-comment textarea {
  border: .5px solid #dddfe2;
  margin: 10px;
  margin-top: 20px;
  border-radius: 25px;
  width: -webkit-fill-available;
  max-width: 485px;
  height: 20px;
  max-height: 150px;
  font-size: 14px;
  padding-left: 10px;
}

.edit-comment-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 35px;
  padding: 5px;
  background-color: #f6f7f9;
  margin-bottom: 10px;
}

.edit-comment button {
  max-height: 25px;
  max-width: 45px;
  display: block;
  border-radius: 2px;
  color: #EDF9FA;
  border-style: groove;
  background-color: #4267b2;
  margin-top: 18px;
  margin-left: 9px;
  border-width: 1px;
  border-color: #29487d;
  font-size: 12px;
  margin: 5px;
  padding: 3px;
}

.edit-comment-label button {
  background-color: inherit;
  border: none;
  color: darkgray;
}

.edit-comment textarea {
  width: inherit;
  min-height: 100px;
  max-height: 400px;
  padding: 7px;
  margin: 15px;
  border: none;
  font-size: 16px;
  max-width: 360px;
}

.edit-comment form {
  display: flex;
  flex-direction: column;
}

#create-comment-all {
  display: flex;
  flex-direction: column;
}

#create-comment-icons {
  display: flex;
  flex-direction: row;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 12px;
  margin-bottom: -5px;
  border-bottom: .5px solid lightgray;
}

#create-comment-all button {
  max-height: 25px;
  max-width: 75px;
  display: block;
  border-radius: 2px;
  color: #EDF9FA;
  border-style: groove;
  background-color: #4267b2;
  margin-top: 18px;
  margin-left: 9px;
  border-width: 1px;
  border-color: #29487d;
  font-size: 12px;
  margin: 5px;
  margin-bottom: 10px;
  float: right;
}

.icons-create-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons-create-comment i {
  margin-left: 15px;
  font-size: 12px;
}

.icons-create-comment p {
  margin: 5px;
}
