.comments {
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  padding: 7px;
  padding-top: 0px;
  margin-top: 5px;
}

.comment-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-author img {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  border-radius: 1px;
  border: .1px solid lightgray;
}

.comment-author-pic-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.comment-author a {
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  margin-left: 15px;
}

.comment-author button {
  display: block;
  border: none;
  background-color: inherit;
  max-width: 20px;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  cursor: pointer;

}

.comment-body {
  display: block;
  overflow: hidden;
}

.comment:first-child {
  border-top: .5px solid lightgray;
}

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

.edit-comment {
  position: fixed;
  width: 400px;
  margin-left: -200px;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  height: inherit;
  background-color: white;
  border-radius: 3px;
}

.create-comment {
  background-color: #f6f7f9;
  border-top: .5px solid lightgray;
  border-bottom: .5px solid lightgray;
  margin: -10px;
  margin-bottom: -15px;
  margin-top: 5px;
}

.create-comment textarea {
  border: .5px solid #dddfe2;
  margin: 10px;
  min-width: 485px;
  max-width: 485px;
  min-height: 30px;
  max-height: 150px;
  font-size: 14px;
}

.create-comment button {
  max-height: 25px;
  max-width: 75px;
  display: block;
  border-radius: 2px;
  color: #EDF9FA;
  border-style: groove;
  background-color: #4267b2;
  margin-top: 18px;
  margin-left: 9px;
  border-width: 1px;
  border-color: #29487d;
  font-size: 12px;
  margin: 5px;
  margin-bottom: 10px;
  float: right;

}

.edit-comment-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 35px;
  padding: 5px;
  background-color: #f6f7f9;
  border-bottom: .5px solid lightgray;
  margin-bottom: 10px;
}

.edit-comment button {
  max-height: 25px;
  max-width: 45px;
  display: block;
  border-radius: 2px;
  color: #EDF9FA;
  border-style: groove;
  background-color: #4267b2;
  margin-top: 18px;
  margin-left: 9px;
  border-width: 1px;
  border-color: #29487d;
  font-size: 12px;
  margin: 5px;
  padding: 3px;
}

.edit-comment-label button {
  background-color: inherit;
  border: none;
  color: darkgray;
}

.edit-comment textarea {
  width: inherit;
  min-height: 100px;
  max-height: 400px;
  padding: 7px;
  margin: 15px;
  border: none;
  font-size: 16px;
  max-width: 360px;
}

.edit-comment form {
  display: flex;
  flex-direction: column;
}
