.dropdown #pending-friends {
  background-color: #FEFEFE;
  border: 1px solid #CBBABA;
  width: 350px;
  position: fixed;
  left: 67%;
  margin-top: 44px;
  padding: 15px 0px 15px 0px;
  z-index: 1;

  img {
    width: 30px;
    height: inherit;
    border-radius: 15px;
    margin: 5px;
  }

  li {
    border-top: .5px solid #CBBABA;
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 10px;
  }

  button {
    margin-top: 7px;
  }

  .pending-p-tag {
    margin: 0 15px;
  }
}
