#profile-page {
  background-color: #e9ebee;
}

#profile-photo {
  position: relative;
}

.user-name {
  color: white;
  margin-left: 245px;
  margin-top: -80px;
}

#cover-photo {
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
  margin: 0 auto;
}

#cover-photo img {
  margin-top: 44px;
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
  border-radius: 1px;
}

#profile-photo img {
  background-color: white;
  width: 168px;
  height: auto;
  border: .5px solid lightgray;
  padding: 2px;
  border-radius: 3px;
  margin-left: 50px;
  margin-top: -80px;
}

#cover-and-profile-pics {
  width: 858px;
  margin: 0 auto;
  position: relative;
}

.profile-info-and-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

#profile-user-info {
  border-radius: 3px;
  border: .1px solid lightgray;
  background: white;
  min-width: 100px;
  padding: 20px;
  width: 300px;
  margin-right: 60px;
  font-size: 14px;
  height: fit-content;
}

.profile-posts li {
  background-color: white;
  width: 510px;
  padding: 15px;
  margin-left: 5px;
  border: .5px solid lightgray;
  border-radius: 3px;
  margin-bottom: 10px;
}

.profile-posts #comment-author {
  margin-left: -15px;
  margin-right: -15px;
}
.profile-posts-and-create-post .profile-posts {
  margin-top: 30px;
}

.profile-posts #create-comment-all #create-comment {
  width: 509px;
  margin-left: -15px;
  border-right: .5px solid lightgray;
  border-bottom: none;
}

.profile-posts #create-comment-all #create-comment textarea {
  width: auto;
}


#post-author-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}


#post-author-info button {
  display: block;
  border: none;
  background-color: white;
  max-width: 10px;
  max-height: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  margin-right: 10px;
}

.profile-posts-and-create-post {
  margin-left: -25px;
}

.profile-posts-and-create-post #post-action-options {
  position: absolute;
  background-color: white;
  border: .1px solid lightgray;
  border-radius: 2px;
  margin-left: 400px;
  margin-top: 60px;
}

.profile-posts-and-create-post #post-action-options ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  margin-bottom: 20px;
}

.profile-posts-and-create-post #post-action-options li {
  border: none;
  list-style: none;
  font-size: 14px;
  width: 80px;
}

.profile-posts-and-create-post #post-action-options button {
  border: none;
  width: 80px;
  height: 20px;
  background-color: white;
  font-size: 14px;
}

#profile-bar-component {
  display: block;
  min-height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: .5px solid lightgray;
  z-index: 100;
}

#profile-bar-component button {
  height: -webkit-fill-available;
  font-weight: bold;
}

#friend-detail-component img {
  width: 100px;
  height: auto;
}

#friend-detail-component {
  background: white;

}

#accepted li {
  margin: 15px;
  border: 1px solid lightgray;
  padding: 10px;
  position: relative;
}

#accepted {
  background-color: white;
  display: flex;
  margin-top: 30px;
}

#pending li {
  margin: 15px;
  border: 1px solid lightgray;
  padding: 10px;
  position: relative;
}

#pending {
  background-color: white;
  display: flex;
  margin-top: 30px;
}

#accepted-pending-friends {
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid lightgray;
}
