#profile-page {
  background-color: #e9ebee;
}

#profile-photo {
  position: relative;
}

#cover-photo {
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
  margin: 0 auto;
}

#cover-photo img {
  margin-top: 40px;
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
}

#profile-photo img {
  background-color: white;
  width: 168px;
  height: auto;
  border: .5px solid lightgray;
  padding: 2px;
  border-radius: 3px;
  position: absolute;
  margin-left: 20%;
  margin-top: -60px;
}

/*OBJECT-FIT*/
