#profile-page {
  background-color: #e9ebee;
}

#profile-photo {
  position: relative;
}

.user-name {
  margin-left: 40%;
  color: white;
}

#cover-photo {
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
  margin: 0 auto;
}

#cover-photo img {
  margin-top: 40px;
  width: 848px;
  max-width: 848px;
  height: 311px;
  max-height: 311px;
  border-radius: 3px;
}

#profile-photo img {
  background-color: white;
  width: 168px;
  height: auto;
  border: .5px solid lightgray;
  padding: 2px;
  border-radius: 3px;
  position: absolute;
  margin-left: 20%;
  margin-top: -60px;
}

.profile-info-and-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
}

#profile-user-info {
  border-radius: 3px;
  border: .1px solid lightgray;
  background: white;
  min-width: 100px;
  padding: 20px;
  width: 300px;
  margin-right: 60px;
}

.profile-posts li {
  background-color: white;
  width: 510px;
  padding: 15px;
  margin-left: 5px;
  border: .5px solid lightgray;
  border-radius: 3px;
}


.profile-posts-and-create-post .profile-posts {
  margin-top: 30px;
}

.profile-posts #create-comment-all #create-comment {
  width: 509px;
  margin-left: -15px;
  border-right: .5px solid lightgray;
  border-bottom: none;
}

.profile-posts #create-comment-all #create-comment textarea {
  width: auto;
}


#post-author-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}


#post-author-info button {
  display: block;
  border: none;
  background-color: white;
  max-width: 10px;
  max-height: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  margin-right: 10px;
}

.profile-posts-and-create-post {
  margin-left: -25px;
}
