.searched-users {
  left: 5%;
  top: 50px;
  border: .5px solid #CBBABA;
  position: fixed;
  padding: 10px;
  background-color: #FEFEFE;
  max-height: 100vh;
  overflow: scroll;

  .users-list {
    display: flex;
    flex-direction: column;

    .user-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      img {
        height: 30px;
        margin-right: 5px;
      }
    }
  }
}
