<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/d5ab747352.js"></script>
    <title>DisneyBook</title>
    <!-- <script src="https://use.typekit.net/uvq8xxg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
